@model User
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<h1 class="text-center">Welcome Back @Model.FirstName!</h1>
<div>
    <h2>Your Sequences:</h2>
</div>

