@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="about" class="container">
    <div class="about-item col text-center">
        <i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i>
        <h1>Create</h1>
        <p>
            Choose from a variety of different yoga poses to make your own flow.
            Poses are provided with detailed information to dictate the kind of
            flow you want to create.
        </p>
    </div>

    <div class="about-item col text-center">
        <i class="fa fa-database fa-5x" aria-hidden="true"></i>
        <h1>Store</h1>
        <p>
            Give your flow a name and store for future use. You can come back to
            it whenever and wherever you need it.
        </p>
    </div>

    <div class="about-item col text-center">
        <i class="fas fa-running fa-5x"></i>
        <h1>Flow</h1>
        <p>
            With your newly created yoga flow you can take your practice
            wherever your heart desires. Practice at home or take it on the go.
            The opportunities are endless!
        </p>
    </div>
</div>
